table {
  border-collapse: collapse;
  width: 1000px;
  margin-top: 40px;
  margin-left: 180px;
  border-radius: 5px;
  border: none;
}

tr {
  padding: 10px 10px 10px 81px;
  width: 1000px;
  height: 50px;
  background: rgba(196, 196, 196, 0.24);
  box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.25);
}

table td,
table th {
  border: 1px solid whitesmoke;
  background: #ffffff;
  padding: 23px;
  white-space: nowrap;
}

.InputContainer {
  margin-top: 40px;
  margin-left: 180px;
}

input {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
}

input:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

button {
  width: 120px;
  height: 35px;
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
  border: none;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Btn {
  width: 120px;
  height: 45px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}
